

header{
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
    width: 100%;
    height: 100px
    
}

#prima-cella{
    width: 400px;
}
#logo1{
    height: 1z80px;
    width: 180px;
}

.cella{
    background-color: deepskyblue;
    color: aliceblue;
}
.cella2{
    background-color: aquamarine;
}



.scrittura-piu-grande{
    font-size: 30px;
    color: grey;
}
#celeste{
    color: aqua;
}
.evidenziata{
    background-color:yellow
}


#h3-numero1{
    margin: 0px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    ;
    font-size: 70px;
    font-weight: normal;
    line-height: 55px;
    text-align: center;
    width: 240px;
    height: 170px;
    font-size: 30px;
    color: white;
}

#h3-numero2{
    margin-top: 10px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    ;
    font-size: 70px;
    font-weight: normal;
    line-height: 55px;
    text-align: center;
    width: 240px;
    height: 370px;
    font-size: 30px;
    color: white;
   }
   #greycolor{
    color: grey;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
   }